  <div class ="mx-5">
    <button (click)="saveDataInCSV('simpleData')">Save simple data array</button>

   
      <table class='table  align-middle table-light' *ngIf="value">
        <thead>

            <tr   class="border" *ngFor="let data of value; let i = index"> 
              
                <td *ngIf="i == 0" [attr.rowspan]="1000"> Nick  </td>
                <td   class="border" *ngFor="let cell of data" [attr.colspan]="cell.col_span" [attr.rowspan]="cell.row_span">
                  {{ cell.name }}

                </td>
            </tr>
          </thead>
          <tbody>
            <tr   class="border" *ngFor="let d of grades; let i = index"> 
              
              <td  [attr.rowspan]="1"> {{d.nick}}  </td>
              <td   class="border" *ngFor="let c of d.grades" [attr.colspan]="1" [attr.rowspan]="1">
                {{ c }}

              </td>
          </tr>
        </tbody>
    </table>
  
  

 </div>
 