  <div class ="mx-5">
    <button   class="btn btn-lg btn-primary btn-block" type="submit" (click)="saveDataInCSV('simpleData')">Save students list to csv</button>
    <form [formGroup]="Search" class="form-activity-add row cell.max_points multi-range-field g-3" (ngSubmit)="onSubmit()" >
      <div class="col-auto  py-2">        
                
                <input name="name" type="string" class="form-control"  placeholder="Nick" formControlName="name" />     
      </div>
      <div class="col-auto  py-2">                 
        <input name="minPoints" type="number" class="form-control"  placeholder="min Points"  min="0" formControlName="minPoints"      />     
      </div>
      <div class="col-auto  py-2">                 
        <input name="maxPoints" type="number" class="form-control"  placeholder="max Points" min="1" formControlName="maxPoints"      />     
      </div>
      <div class="col-auto px-0 py-2">           
      <button class="btn  btn-primary mx-0 my-0 " type="submit" >Filter</button>
    </div>
  </form>
      <table id="data_table" class='table  align-middle table-light' *ngIf="value">
        <thead>

            <tr   class="border" *ngFor="let data of value; let i = index"> 
              
                <td  class= "text-center" *ngIf="i == 0" [attr.rowspan]="1000">Nick</td>
                <td   class="border  text-center" *ngFor="let cell of data  " [attr.colspan]="cell.col_span" [attr.rowspan]="cell.row_span" [ngStyle]="{'background-color': (this.isPastDeadlineColor(cell))}">
             
                  <div  class="row " [matTooltip]="this.hintDeadline(cell)"> <div class="auto-col">{{ cell.name }} {{!cell.deadline ? "" : this.isPastDeadlineIcon(cell) ?	"&#128274;"	: "&#128336;"}}</div> <div  class="auto-col" *ngIf="cell.max_points != 0">Max: {{cell.max_points}} </div>  </div>
                 
             
                </td>
                <td  class= "text-center" *ngIf="i == 0" [attr.rowspan]="1000">Sum points Max:{{generalMaxPoints}} </td>
                
            </tr>
          </thead>
          <tbody>
            <tr   class="border " *ngFor="let d of grades    |  simpleSearch: 'd.nick': SearchNick ; let i = index  "> 
              
              <td  [attr.rowspan]="1" > {{d.nick}}  </td>
              <td   class="border text-center" *ngFor="let c of d.grades ; let j = index" [attr.colspan]="1" [attr.rowspan]="1">
                <input type="text"   value={{c}}  ng-model="text" (keydown.enter)="change($event, d.nick, c, j)"  [style.backgroundColor]=" ( ( c!=null && pointsMax !=null && pointsMin  !=null && pointsMax >=  c  && pointsMin <=  c )  || ( (pointsMin ==null && pointsMax !=null && pointsMax >=  c ) ||  ( pointsMax ==null && pointsMin  !=null  && pointsMin <=  c ) )  )? '#eee00e' : '#eeeeee'"> 
              </td>
              <td  [attr.rowspan]="1" > {{d.sumPoints}}  </td>
             
              
          </tr>
        </tbody>
    </table>
 </div>
 
