<div id="students">
  <button id="sendToAll" (click)="messageWindowState(true, students)">
    Send message to all students
  </button>
  <div *ngFor="let student of students; index as i">
    <div class="studentLabel">
      {{ student.firstName }} {{ student.lastName }} {{ student.github }}
      {{ dates[i] }}
      <button class="sendToOne" (click)="messageWindowState(true, student)">
        Send
      </button>
    </div>
  </div>
</div>

<div *ngIf="showMessageWindow" id="messageWindow">
  <input id="messageText" type="text" (keyup)="messageTextChange($event)" />
  <div id="buttons">
    <button (click)="messageWindowState(false, [])">Cancel</button>
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
