

<div class="d-flex-grow-2 p-2 container-fluid ">
    <div class="row mx-5">
      <div class="col-md-4">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Aktywność</th>
                <th scope="col">Data</th>
                <th scope="col">Punkty</th>
              </tr>
            </thead>
            <tbody>
              <tr class="cart-item" *ngFor="let item of messages | async;  index as i;">
                
                <td>{{ item.task }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.points }}</td>
               
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-md-8 h-1000 ">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>