<div class="d-flex-grow-2 p-2 container-fluid">
  <div class="row mx-5">
    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Information</th>
          </tr>
        </thead>
        <tbody>
          <tr class="cart-item" *ngFor="let log of logs; index as i">
            <td>
              {{
                (log.type.charAt(0).toUpperCase() + log.type.slice(1)).replace(
                  "_",
                  " "
                )
              }}
            </td>
            <td>
              {{
                log.date
                  .toString()
                  .replace("T", " ")
                  .replace("Z", "")
                  .split(".")[0]
              }}
            </td>
            <td>{{ log.text }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
