.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}
.error-message {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}