<div class="">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Zarejestruj się do systemu</h1>
      <div class="mb-3">
        <label for="inputEmail" class="sr-only ms-0">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      </div>
      
      <div class="mb-3">
        <label for="inputFirstName" class="sr-only">Imię</label>
        <input  id="inputFirstName" class="form-control" placeholder="Imię" required="">
      </div>
      
      <div class="mb-3">
        <label for="inputSecondName" class="sr-only">Nazwisko</label>
        <input  id="inputSecondName" class="form-control" placeholder="Nazwisko" required="">
      </div>

      <div class="mb-3">
        <label for="inputPassword" class="sr-only">Hasło</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required="">
      </div>
      
      
   
      <div class="text-center">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>
      </div>
    </form>
</div>